*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color:black;
}
.top{
    background-image: url('/img/background.svg');
    background-repeat: no-repeat;
    width: calc(100% + 61px);
    display: flex;
}
.left{
    width: 20%;
    margin-top: 20px;
    margin-left: 10px;
}
.left_top{
    display:flex;
}
.l2{
    padding-top: 30px;
    left: 0%;
    position: absolute;
}
.city{
    background-color: rgb(87, 85, 85);
    color:white;
    font-family: 'Roboto', sans-serif;
    width: 130px;
    margin-left: 120px;
    border: none;
    padding: 15px 15px;
}
.date_time{
    margin-left:110px;
}
.date{
    color:white;
    font-size: 15px;
    line-height: 0px;
}
.time1{
    font-family: 'Roboto', sans-serif;
    color:#FFE5B4;
    font-size: 15px;
    margin-top: 0px;
}
.mid_top{
    display: flex;
}
.m_left{
    color: white;
    width: 60%;
}
.m_right{
    color:white;
}
.mid_bottom{
    color:white;
    display: flex;
    justify-content: space-evenly;
}
.sec1:hover {
  background-color: rgb(51, 51, 50);
}
.sec1{
    width: 150px;
    background-image: url('/img/london.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
    background-color: rgb(31, 28, 28);
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.sec1-s1{
    display: flex;   
    justify-content: space-between;
    margin-bottom: 0px;
    height: 40px;
}
.s1{
    color:white;
    display: flex;
    justify-content: space-between;
}
.text-bold{
    font-size: 1.25rem;
}
.light{
    font-family: 'Roboto', sans-serif;
    font-size: small;
}
.bold{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin-top: 0px;
    line-height: 1.5px;
    padding-left: 5px;
    padding-top: 1px;
}
.vl {
    height: 40px;
    border-left: 1px solid white;
    margin-top: 9px;
  }
.humid_precip{
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color:white;
}
.v1{
    height: 20px;
    border-left: 1px solid white;
}
.msg{
    margin-right: 100px;
    font-size: 12px;
}
.drop{
    color:white;
    width: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.quantity{
    color: #000;
}
.a1{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.a1_1{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
}
.a1_2{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
}
.a1_3{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
}
.humid{
    font-family: 'Roboto', sans-serif;
}
.precip{
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.s2{
    display: grid;
    grid-template-columns: auto auto auto ;  
    grid-gap: 10px;
    padding: 10px;
    margin-left: 100px;
}
.conti{
    color:rgb(255, 244, 97, 1);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.town{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    margin-top: 0px;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.percent{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 0px;
    padding-top: 3px;
    font-size: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    color: white;
    padding-left: 0px;
}
.up{
    display: flex;
    justify-content: space-between;
}
.down{
    display: flex;
    justify-content: space-between;
}
.val{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom:0px;
    color: white;
}
.row1-col1{
    padding-left: 20px;
    margin-left: 10px;
    width: 250px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #2E2E2E;
}
.row1-col2{
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 250px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #2E2E2E;
}
.row1-col3{
    padding-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    margin-top: 0px;
    width: 250px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: #2E2E2E;
}
.row1-col4{
    padding-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    margin-top: 0px;
    width: 250px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: #2E2E2E;
}
.drop-1{
    margin-left: 100px;
    margin-right: 2px;
    width: 12px;
    margin-top: 5px;
    margin-bottom: 1px;
}
.c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight:lighter
}
.r1-c1{
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    width:40px;
}
.v1{
    height: 15px;
    border-left: 1px solid white;
    margin-bottom: 10px;
}
.line{
    height: 10px;
    border-left: 1px solid white;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
}
.num{
    font-size: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-weight: lighter;
    margin-right: 0px;
}
.cloud{
    display: flex;
    margin-left: 30px;
}
.icon-small{
    display: flex;
}
.ligh{
    font-size: 14px;
    margin: 0px;
    font-size: small;
}
.bold-val{
    font-size: 14px;
    font-weight: bolder;
    margin: 10px;
}
.arrow{
    align-items: center;
    margin-top: 65px;
}
.grid{
    display: grid;
    color: white;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 10px;
    margin-left: 30px;
}
.grid-item{
    padding: 5px;
    font-size: 20px;
}
.sticky{
    position: -webkit-sticky;
    position: sticky;
}
.time-a1{
    font-size: 11px;
}
.date-a1{
    font-size: 11px;
}
@media only screen and (min-width: 1027px) {
    .left{
        width: 20%;
    }
    .grid{
        width: 20%;
    }
    .cloud{
        width:60%;
    }
    .m_left{
        width: 60%;
    }
    .m_right{
        width: 40%;
    }
    .s1{
        width: 100%;
    }
    .row1{
        width: 33.3%
    }
}