*{
    box-sizing: border-box;
}
body{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-color:black;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
.top{
    width: 100%;
    height: 200px;
    background-image: url('/img/background.svg');
    display: flex;
    justify-content: flex-start;
}
.left{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-top: 20px;
    margin-left: 15px;
}
.left_top{
    display:flex;
    justify-content: space-evenly;

}
.l1{
    width: 30%;
    margin-left: 0;
    padding: 0;
}
.l2{
    padding-top: 30px;
    color:honeydew;
    font-family: 'Roboto';
    font-weight: 200;
    left: 0%;
    position: absolute;
    border: none;
    font-size:initial;
    width: 40%;
    
}
.city{
    background-color: rgb(87, 85, 85);
    color:honeydew;
    width: 100px;
    margin-left: 120px;
    border: none;
    padding: 15px 8px;
}
.l3{  
    width: 30%;
    padding-top: 15px;
    padding-left: 0px;
    margin-left: 150px;
}

.temp{
    font-family: 'Roboto';
    color:honeydew;
    padding-left: 20px;
    margin-top: 5px;
}
.temp-one{
    font-family: 'Roboto';
    color:honeydew;
    padding-left: 85px;
    margin-left: 0px;
}
.top_down{
    display: flex;
    justify-content: baseline;
    margin-top: 5px;
}
.date_time{
    margin-top: 0;
    margin-left:110px;
    font-size: 10px;
}
.date{
    color:honeydew;
    font-size: 15px;
    line-height: 0px;
}
.time1{
    font-family: 'Roboto';
    color:honeydew;
    font-size: 15px;
    margin-top: 0px;
    padding-top: 0px;
}
.time{
    color:honeydew;
    font-family: 'Roboto';
    font-size: 12px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 0px;
}
.right{
    width: 75%;
    display: flex;
}
.middle{
    height: 200px;
    background-color: rgb(3, 3, 3);
}
.mid_top{
    height: 20%;
    display: flex;
    justify-content:space-around;
    margin-top: 0px;
    margin-bottom: 0px;
}
.m_left{
    color: honeydew;
    width: 60%;
    margin-bottom: 10px;
}
.m_right{
    color:honeydew;
    width: 40%;
}
.mid_bottom{
    margin-top: 5px;
    height: 80%;
    background-color: rgb(3, 3, 3);
    color:honeydew;
    display: flex;
    justify-content: space-evenly;
}
.sec1{
    width: 125px;
    background-image: url('/img/london.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
    background-color: rgb(31, 28, 28);
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 3px;
    margin-right: 3px;
}
.sec1-s1{
    display: flex;   
    justify-content: space-between;
}
.bottom{
    height: 200px;
    background-color: rgb(3, 3, 3);
}
.s1{
    color:honeydew;
    font-family: 'Roboto';
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.s2{
    height: 100%;
    display: flex;
    color:honeydew;
}
.text-bold{
    font-size: 1.25rem;
}
.light{
    font-family: 'Roboto';
    font-size: small;
}
.bold{
    font-family: 'Roboto';
    font-size: large;
    margin-top: 0px;
    line-height: 1.5px;
    padding-left: 5px;
    padding-top: 1px;
}
.vl {
    margin-top: 35px;
    height: 50px;
    border-left: 1px solid #f6f6f8;
    width: 10px;
    margin-right: 10px;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
.humid_precip{
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 35px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    color:honeydew;
}
.v1{
    height: 20px;
    border-left: 1px solid #f6f6f8;
}
.msg{
    margin-right: 200px;
    margin-left: 50px;
    padding: 0px;
    font-size: 12px;
}
.drop{
    color:honeydew;
    width: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.a1{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.a1_1{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
}
.a1_2{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
}
.a1_3{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
}
.humid{
    font-family: 'Roboto';
}
.precip{
    font-family: 'Roboto';
    margin-top: 10px;
}
.row1{
    display: flex;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    margin-top: 0px;
    padding-top: 0px;
}
.row2{
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
}
.row3{
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
    justify-content: space-around;
}
.s2{
    display: flex;
    flex-direction: column;
}
.conti{
    color:rgb(255, 244, 97, 1);
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.town{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    margin-top: 0px;
    padding-top: 0px;
    color: #FFFFFF;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.percent{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-top: 0px;
    padding-top: 3px;
    font-size: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
.up{
    display: flex;
    justify-content: space-between;
}
.down{
    display: flex;
    justify-content: space-between;
}
.val{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom:0px;
}
.row1-col1{
    padding-left: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #2E2E2E;
}
.row1-col2{
    padding-left: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #2E2E2E;
}
.row1-col3{
    padding-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    margin-top: 0px;
    padding-right: 10px;
    margin-right: 100px;
    background-color: #2E2E2E;
}
.drop-1{
    margin-left: 100px;
    margin-right: 2px;
    width: 12px;
    margin-top: 5px;
    margin-bottom: 1px;
}
.c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
    font-weight:lighter
}
.r1-c1{
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
    font-family: roboto;
    font-weight: lighter;
    color: white;
}
.v1{
    height: 15px;
    border-left: 1px solid #f6f6f8;
    margin-bottom: 10px;
}
.line{
    height: 10px;
    border-left: 1px solid #f6f6f8;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
}
.num{
    font-size: 15px;
    color: white;
    font-family: roboto;
    font-weight: 100;
    font-weight: lighter;
}
.cloud{
    display: flex;
    margin-left: 50px;
}
.icon-small{
    display: flex;
}
