*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 280px;
}
/* #rcorners1 {
    border-radius: 46px 46px 0px 0px;
}  */
.middle{
    margin: 0px;
    height: 360px;
    background-color: black;
    border-top-right-radius: 44px;
    border-top-left-radius: 44px;
    width: 100%;
}
.bottom{
    background-color: black;
}
.left{
    width: 250px;
    padding: 0px 25px;
}
.left_top{
    display:flex;
    width:250px;
    height: 100px;
}
.l1{
    position: absolute;
    width: 123px;
    height: 102px;
}
.l2{
    width: 250px;
    height: 100px;
    padding-top: 9px;
    position: absolute;
}
.city{
    background-color: rgb(87, 85, 85);
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 70px;
    width: 130px;
    margin-left: 100px;
    border: none;
    padding: 15px 10px;
    font-style: normal;
    font-weight: 200;
    font-size: 19px;
    line-height: 47px;
}
.date_time{
    margin-left:100px;
    width: 100px;
    height: 80px;
}
.date{
    color:white;
    font-size: 16px;
    line-height: 0px;
}
.time1{
    font-family: 'Roboto', sans-serif;
    color: #FFE5B4;
    height: 80px;
    width: 226px;
    font-size: 17px;
}
.mid_top{
    display: flex;
    height: 100px;
    /* border-radius: 46px 46px 0px 0px; */
    /* border-radius: 25px; */
}
.m_left{
    display: flex;
    color: white;
    width: 100%;
    padding: 0px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}
.m_right{
    color: white;
    width: 400px;
    position: absolute;
    height: 100px;
    right: 0px;
    display: flex;
    align-items: center;
}
.mid_bottom{
    color: white;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
}
.sec1:hover {
  box-shadow: 0px 0px 5px 1px #ccc;
  transform: scale(0.93);
}
.sec1{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 260px;
    background-image: url(../img/london.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    flex-shrink: 0;
    margin-right: 10px;
    background-position: bottom right;
    background-color: rgb(31, 28, 28);
    padding: 15px 0px 0px 15px;
}
.sec1-s1{
    padding: 0px 10px 10px 0px;
    display: flex;
    height: 28px;
    justify-content: space-between;
    align-items: center;
}
.s1{
    padding: 50px 0px 50px 0px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.s1-1{
    height: 30px;
    padding-left: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    align-items: center;
    font-size: 25px;
}
.s1-2{
    height: 25px;
    padding-right: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    align-items: center;
    font-size: 20px;
}
.light{
    font-family: 'Roboto', sans-serif;
    font-size: small;
}
.bold{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin-top: 0px;
    line-height: 1.5px;
    padding-left: 5px;
    padding-top: 1px;
}
.vl {
    height: 55px;
    border-left: 1px solid white;
  }
.humid_precip{
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color:white;
}
.v1{
    height: 20px;
    border-left: 1px solid white;
}
.msg{
    font-size: 16px;
    padding-left: 5px;
}
.drop{
    color: white;
    padding: 0px 8px;
}
.drop input#quantity{
    height: 25px;
    padding: 0px 0px 0px 7px;
}
.quantity{
    color: #000;
    background-color: #2E2E2E;
}
.a1{
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: space-around;
    padding: 10px 0px 0px 0px;
}
.a1_1{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 150px;
    height: 35px;
    align-items: center;
}
.a1_2{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
    align-items: center;
}
.a1_3{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
    align-items: center;
}
.humid{
    font-family: 'Roboto', sans-serif;
}
.precip{
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.s2{
    display: grid;
    grid-template-columns: auto auto auto ;  
    grid-gap: 10px;
    padding: 10px;
    justify-content: space-evenly;
}
.conti{
    color: rgb(255, 244, 97, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}
.town{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    color: white;
}
.percent{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: white;
}
.date-a1{
    font-size: 15px;
}
.time-10{
    font-size: 15px;
}
.ic{
    width: 20px;
}
.london-icon{
    display: flex;
    width: 163px;
    justify-content: space-between;
}
.rain-percent{
    display: flex;
    align-items: center;
}
.up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}
.down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.val{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: white;
}
.row1-col1{
    width: 300px;
    background-color: #2E2E2E;
    padding: 10px 10px 10px 10px;
}
.row1-col1:hover{
    animation-name: example;
    animation-duration: 1s;
    box-shadow: 0px 0px 5px 1px #ccc;
    transform: scale(0.99);
}
@keyframes example{
    0%   {background-color: #2E2E2E;}
    50%  {background-color: rgb(31, 31, 32);}
    100%   {background-color: #2E2E2E;}
}
.drop-1{
    width: 15px;
    animation-name: example-1;
    animation-duration: 1s;
}
@keyframes example-1 {
    100%   {left:10px;}
}
.c1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: center;ans-serif;
    font-weight:lighter;
}
.r1-c1{
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    width: 40px;
}
.v1{
    height: 10px;
    border-left: 1px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
}
.line{
    height: 13px;
    border-left: 1px solid white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 68px;
    width: 10px;
}
.num{
    font-size: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-weight: lighter;
    margin-right: 0px;
}
.cloud{
    display: flex;
    height: 180px;
    width: 700px;
}
.icon_align {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-around;
}
.icon-small{
    align-items: center;
    display: flex;
    position: sticky;
    top: 0px;
}
.ligh{
    font-size: 14px;
    margin: 0px;
}
.bold-val{
    font-size: 22px;
    font-weight: bolder;
    margin: 10px;
}
.arrow{
    align-items: center;
    height: 50px;
    justify-content: center;
    display: flex;
    width: 50px;
    font-size: 35px;
}
.city-cards-container{
    display: flex;
    width: calc(100% - 100px);
    overflow-x: auto;
}
.city-cards-wrapper{
    margin: 0px auto;
    display: flex;
}
.city-cards-container::-webkit-scrollbar{
    display: none;
}
.grid{
    width: 218.96px;
    height: 191px;
    display: grid;
    color: white;
    grid-template-columns: auto auto auto;
    padding: 10px 10px 10px 28px;
}
.grid-item{
    display: flex;
    padding: 5px;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
}
.sticky{
    width: 20px;
}
.time-a1{
    padding-bottom: 5px;
}
.row1{
    width: 400px;
    height: 250px;
}
.l1-media{
    align-items: center;
    display: flex;
    width: 480px;
    height: 210px;
    justify-content: space-around;
  }
  .text{
    font-weight: 500;
    font-size: 23px;
    font-style: normal;
    line-height: 28px;
  }
@media only screen and (max-width: 1100px) {
    .top {
        flex-direction: column;
        align-items: center;
        height: 320px;
    }
    .l1-media{
        align-items: center;
        padding-top: 30px;
    }
    .mid_top{
        align-self:center;
    }
    .bottom{
        padding-top: 10px;
        width: 100%;
    }
    .row1{
        width: 300px;
    }
    .s2{
        grid-template-columns: auto auto; 
      }
      .line{
          margin-top: 37px;
      }
      .m_left{
          width: 60%;
          text-align: center;
      }
  }
  @media only screen and (max-width: 700px) {
    .top {
        flex-direction: column;
        width: auto;
    }
    .l1-media{
        width: auto;
    }
    .cloud{
        margin-right: 0px;
        width: auto;
    }
    .line{
        margin-left: 25px;
        margin-right: 25px;
    }
    .mid_top{
        margin-bottom: 15px;
    }
    .icon_align{
        display: flex;
        align-items: center;
        width: 100px;
        justify-content: space-around;
    }
    .mid_bottom{
        margin-left: 2px;
        width: auto;
        overflow-y: auto;
        overflow: hidden;
    }
    .sticky{
        width: 15px;
        height: 15px;
    }
    .m_left{
        width: auto;
        text-align:center;
    }
    .drop-1{
        margin-left: 45px;
    }
    .s1{
        width: auto;
    }
    .s2{
        width: auto;
        margin-left: 20px;
        grid-template-columns: auto;
     }
     .row1{
         width: 180px;
     }     
     .c1{
         font-size: 10px;
     }
     #text1{
         font-size: 10px;
     }
     .image{
         width: 12px;
     }
     .m_right{
         width:auto;
     }

    }
@media only screen and (max-width: 790px){
    .mid_top{
        display: flex;
        justify-content: space-between;
    }
    .m_left{
        width: auto;
    }
    .m_right{
        width: auto;
    }
}
@media only screen and (max-width: 900px) {
    .s1{
        display: flex;
        flex-direction: column;
    }
    .s1-1{
        padding-left: 20px;
    }
    .s1-2{
        padding-right: 20px;
    }
}